pkgbase = pack
	pkgdesc = Simple yet powerful AUR Helper TUI
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/elrondforwin/pack
	arch = x86_64
	license = GPL3
	depends = bash
	depends = fzf
	depends = expac
	optdepends = paru: AUR support
	optdepends = yay: AUR support
	source = https://raw.githubusercontent.com/elrondforwin/pack/refs/heads/master/pack
	source = https://raw.githubusercontent.com/elrondforwin/pack/refs/heads/master/pack.desktop
	sha256sums = 25b4f404ddb60f4fff4750360b1c87d114ce5fa200b5d106dbbc4862987ff349
	sha256sums = 6f0715438cbd586f7a4e194169cd853aecacce7f32628bd8d2168d2e4fd1e08e

pkgname = pack
